{% extends 'base.twig' %}

{% block content %}
    <section class="section">
        <h2>Mon compte</h2>

        <h3>Mes réservations</h3>
        {% if booking|length > 0 %}
            <table class="table">
                <tr>
                    <th>Réservation n°</th>
                    <th>Dates</th>
                    <th>Hotel</th>
                    <th>Total</th>
                </tr>
                {% for book in booking %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.arrival|date('d/m/Y') }} - {{ book.departure|date('d/m/Y') }}</td>
                        <td>{{ book.hotelName }}</td>
                        <td>{{ prices[loop.index0] }}€</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h4>Vous n'avez effectué aucune réservation.</h4>
        {% endif %}
    </section>
{% endblock %}